.wrap {
    display: flex;
    padding: 70px 110px;

    .slidebar {
        width: 25%;
        border-right: 1px solid #ededed;
        h3 {
            text-transform: uppercase;
            margin-top: 20px;
        }
        // position: fixed;
    }
    .main {
        width: 75%;

        .tool {
            display: flex;
            justify-content: end;
            align-items: center;
            border-bottom: 1px solid #ededed;
            border-top: 1px solid #ededed;
        }
    }
}
.option {
    height: 36px;
    line-height: 36px;
    border-radius: 0;
    width: 100%;
    //     &:hover {
    //         border: 1px solid #000000;
    //         background: var(--primary);
    //         color: #fff;
    //     }
}
.next {
    border-top: 1px solid #ededed;
}
.list-sidebar {
    display: flex;
    flex-direction: column;
}
.body-size {
    width: 100%;

    .content {
    }
}
.input-local,
.input-price,
.input-size {
    margin: 10px;
}
.tool {
    label {
        margin-right: 10px;
    }
}
