.main {
    padding: 70px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        padding: 10px 0;
    }

    button {
        background-color: black;
        color: #ffff;
        cursor: pointer;
        padding: 10px;
    }
}
