.wrapper {
    min-height: 400px;
    background-color: var(--primary);
    color: white;
}
.bottom {
    text-align: center;
    a {
        text-decoration: none;
        margin: 4px;
        color: white;
        justify-content: end;
    }
}
.logo-contact {
    a {
        color: white;
    }
}
.middle {
    display: flex;
    justify-content: space-between;
}
.img-footer {
    height: 140px;
    width: 140px;
}
