.wrap {
    display: flex;
    .slidebar {
        width: 25%;
    }
    .main {
        width: 75%;
    }
}
.option {
    height: 36px;
    line-height: 36px;
    border-radius: 0;
    width: 100%;
    &:hover {
        border: 1px solid #000000;
        background: var(--primary);
        color: #fff;
    }
}
